In [1]:
#question1
import pandas as pd
import numpy as np
df=pd.read_csv("HR_comma_sep.csv")
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [17]:
var1=df["satisfaction_level"]
var1

0        0.38
1        0.80
2        0.11
3        0.72
4        0.37
         ...
14994    0.40
14995    0.37
14996    0.37
14997    0.11
14998    0.37
Name: satisfaction_level, Length: 14999, dtype: float64

In [21]:
print(var1.shape)

(14999,)

In [22]:
var1.describe()

count    14999.000000
mean         0.612834
std          0.248631
min          0.090000
25%          0.440000
50%          0.640000
75%          0.820000
max          1.000000
Name: satisfaction_level, dtype: float64

In [6]:
df.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64

In [8]:
df["satisfaction_level"].mean()

0.6128335222348166

In [9]:
df["satisfaction_level"].median()

0.64

In [10]:
df["satisfaction_level"].mode()

0    0.1
Name: satisfaction_level, dtype: float64

In [11]:
df["satisfaction_level"].min()

0.09

In [12]:
df["satisfaction_level"].max()

1.0

In [13]:
np.var(df["satisfaction_level"])

0.06181307922561601

In [14]:
np.std(df["satisfaction_level"])

0.24862236268207252

In [16]:
df["satisfaction_level"].value_counts()

0.10    358
0.11    335
0.74    257
0.77    252
0.84    247
       ...
0.25     34
0.28     31
0.27     30
0.26     30
0.12     30
Name: satisfaction_level, Length: 92, dtype: int64

In [28]:
var2=df["last_evaluation"]
var2

0        0.53
1        0.86
2        0.88
3        0.87
4        0.52
         ...
14994    0.57
14995    0.48
14996    0.53
14997    0.96
14998    0.52
Name: last_evaluation, Length: 14999, dtype: float64

In [24]:
var2.describe()

count    14999.000000
mean         0.716102
std          0.171169
min          0.360000
25%          0.560000
50%          0.720000
75%          0.870000
max          1.000000
Name: last_evaluation, dtype: float64

In [25]:
print(var2.shape)

(14999,)

In [30]:
var2

0        0.53
1        0.86
2        0.88
3        0.87
4        0.52
         ...
14994    0.57
14995    0.48
14996    0.53
14997    0.96
14998    0.52
Name: last_evaluation, Length: 14999, dtype: float64

In [32]:
df["last_evaluation"].mean()

0.7161017401159978

In [33]:
df["last_evaluation"].mode()

0    0.55
Name: last_evaluation, dtype: float64

In [34]:
df["last_evaluation"].median()

0.72

In [37]:
var2

0        0.53
1        0.86
2        0.88
3        0.87
4        0.52
         ...
14994    0.57
14995    0.48
14996    0.53
14997    0.96
14998    0.52
Name: last_evaluation, Length: 14999, dtype: float64

In [ ]:
df["var2"].median()